.card {
  width: 300px;
  height: 250px;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-top-left-radius: 20px; /* top-left corner */
  border-top-right-radius: 0; /* top-right corner */
  border-bottom-right-radius: 20px; /* bottom-right corner */
  border-bottom-left-radius: 0; /* bottom-left corner */
  background-color: #121212;
  color: white;
}



.title{
    font-family: "formula1-bold";
    padding: 10px;
}

.location{
    font-family: "formula1";
    font-size: 13px;
}

.date{
    font-family: "formula1";
    font-size: 12px; 
}