.horizontalSlider2 {
  width: 100%;
  height: auto;
}

.horizontalSlider2::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.horizontalSlider2::-webkit-scrollbar-track {
  background-color: #ccc;
}

.horizontalSlider2::-webkit-scrollbar-thumb {
  background-color: red;
}

